@page "/"
@namespace DungeonRpg.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DungeonRpg</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="css/tileset.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Eagle+Lake|Fondamento|Quintessential|Metamorphous|Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>
    <script src="_framework/blazor.server.js"></script>
    <script type="text/javascript">
        window.exampleJsFunctions = {
            focusElement: function (id) {
                console.log('Focus on element id', id);
                let element = document.getElementById(id);
                console.log('Focus on element', element);
                element.focus();
            }
        }
    </script>
</body>
</html>
